/* Основные стили для всего сайта */
body {
    background-color: black; /* Черный фон для всего сайта */
    color: white; /* Белый цвет текста для контраста */
    margin: 0;
    padding: 0;
  }
  
  /* Контейнер для изображения */
  .image-container {
    background-color: black; /* Черный фон для контейнера с изображением */
    padding: 20px; /* Отступы вокруг изображения */
    box-sizing: border-box; /* Учитываем отступы в общей ширине */
    text-align: center; /* Центрируем изображение */
    overflow: hidden; /* Скрываем лишнюю часть изображения */
  }
  
  .responsive-image {
    width: 100%; /* Растягиваем изображение по ширине */
    height: auto; /* Сохраняем пропорции */
    display: block;
    pointer-events: none; /* Отключаем возможность взаимодействовать с изображением */
  }
  
  /* Для мобильных устройств */
  @media (max-width: 768px) {
    .image-container {
        padding: 0px; /* Отступы вокруг изображения */
      }
    .responsive-image {
        padding: 0px;
      width: calc(100%); /* Уменьшаем ширину для отступов */
      margin: 0px; /* Добавляем отступы по бокам */
    }
  
    .responsive-image {
      content: url('r.png'); /* Смена изображения на мобильных устройствах */
    }
  }
  
  /* Запрещаем перетаскивание изображений */
  img {
    -webkit-user-drag: none; /* Для WebKit-браузеров */
    user-drag: none; /* Для остальных браузеров */
  }
  
